body {
   #font-family: 'Arvo', sans-serif;
   font-family: 'Rubik', sans-serif;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-image: linear-gradient(to right bottom, #a9c1e7, #8293be, #5e6794, #3f3d6c, #221644);
}

body a {
   text-decoration: none;
}

body li {
   list-style-type: none;
}

/* These main elements affect the appearance of the blog posts */
body main h1 {
   color: white;
   margin-left: 2%;
   text-shadow: 2px 2px 10px #000000;
}

body main p {
   margin-top: 1%;
   margin-left: 10%;
   margin-right: 10%;
   width: 66%;
   border: 2px solid;
   padding: 10px;
   border-radius: 4px;
   background: rgb(133, 94, 140, .4);
   color: white;
   text-shadow: 2px 2px 25px #000000;
}

/* These header elements affect the appearance of the Navbar */
body header ul {
   font-size: 25px;
   text-align: right;
   margin-right: 5%;
}

body header a:link {
   #color: #244D01;
   color: #681B03;
   text-shadow: 10px 8px 10px #444444;
}

body header a:hover {
   #color: #286803;
   color: #285D09;
}

/* These footer elements affect the appearance of the Footer */
body footer ul {
   font-size: 25px;
   text-align: center;
}

body footer p {
   margin-left: 5%;
}

body footer a:hover {
   color: hotpink;
}

