p:hover {
    background-color: orange;
}

 /*{
    font-size: 100px;
    color: rgba(150, 0, 0, 0.75); /*the last parameter controls transparency ranging 0-1
    text-align: center;
}*/
a{
    font-weight: bold;
    background-color: white;
    color: black;
    text-decoration: none;
}
    a:hover {
        background-color: lightgray;
    }
.home > h1{
    text-align:center;
    color:forestgreen;
}