html{
    background-color:#e6d1ad75
}

body{
    overflow-y: scroll;
}

p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(78, 78, 78);
}

h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
}

h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(87, 85, 85);
}
#icons{
    padding-left: 1px;
    padding-right: 1px;
}

#whatdo{
    margin-top: 100px;
    margin-left: 250px;
}
#selfie{
    height: 450px;
    padding-right: 55px;
    margin-right: 35px;
    margin-top: 100px;
}

#aboutMe{
    margin-left: 250px;
    margin-right: 250px;
    box-shadow: 0px 4px 0px 0px #9e7b4ea8;
    -moz-box-shadow: 0px 4px 0px 0px #9e7b4ea8;
    -webkit-box-shadow: 0px 4px 0px 0px #9e7b4ea8;
    display: flex;
    align-items: center;
    justify-content: center;
}
#lifeskills{
    display:none;
}

.button{
    cursor: pointer;
    background-color: royalblue;
    border: solid 3px royalblue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
}
.button:hover{
    background-color: rgb(153, 153, 153);
    color: black;
}
.swap{
    cursor: pointer;
    background-color: royalblue;
    border: solid 3px royalblue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    margin: auto;
}
.swap:hover{
    background-color: rgb(153, 153, 153);
    color: black;
}

#greypre-text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:grey;
}

.grid2x2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 80px;
    margin-left: 250px;
    margin-right: 250px;
}

.flexnav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color: royalblue;
    color: white;
}
      

.navbar .dropicon {
    display: none;
}
      

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdownitems {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
      
.dropdownitems a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}
.dropdownitems a:hover {
    background-color: #ddd;
    color: black;
}
.dropdown:hover .dropdownitems {
    display: block;
}
/* planned to have the navbar change to the current display setting for smaller screens or in a thin window, but prefer this look instead*/
@media screen and (max-width: 3840px) {
    .navbar a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .navbar a.dropicon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 3840px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.dropicon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .navbar.responsive .dropdown {float: none;}
    .navbar.responsive .dropdownitems {position: relative;}
    .navbar.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}
