@font-face { font-family: Space_Mono; src: url('Space_Mono/SpaceMono-Regular.ttf'); } 
@font-face { font-family: Space_Mono; font-weight: bold; src: url('Space_Mono/SpaceMono-Bold.ttf');}
body{
	margin: 0;
	padding: 0;
	font-family: Space_Mono;
	
}
.nav{
	background-color: white;
	color: black;
	list-style: none;
	text-align: center;
	padding: 20px 0 20px 0;

}
.nav > li{
	display: inline-block;
	padding-right: 50px;

}
.nav >li > a{
	text-decoration: none;
	color: rgb(0, 0, 0);

}
.nav >li > a:hover{
	color: rgb(100, 100, 100);

}