html{
    background-color:#e6d1ad75
}

p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#page-top{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 40px;
    background-color: #eab99d;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 0px 0px #9e7b4ea8;
    -moz-box-shadow: 0px 4px 0px 0px #9e7b4ea8;
    -webkit-box-shadow: 0px 4px 0px 0px #9e7b4ea8;
}
#aboutMe{
    box-shadow: 0px 4px 0px 0px #9e7b4ea8;
    -moz-box-shadow: 0px 4px 0px 0px #9e7b4ea8;
    -webkit-box-shadow: 0px 4px 0px 0px #9e7b4ea8;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact{
    height: 20px;
    width: 47px;
    background-color: #eab99d;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    border-style: ridge;
    box-shadow: 0px 4px 0px 0px #9e7b4ea8;
    -moz-box-shadow: 0px 4px 0px 0px #9e7b4ea8;
    -webkit-box-shadow: 0px 4px 0px 0px #9e7b4ea8;
}
#greypre-text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:grey;
}

#PI{
    vertical-align: baseline;
}
