html{
    background-color:#e6d1ad75
}

p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(78, 78, 78);
}

h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
}

#page-top{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 40px;
    background-color: #eab99d;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 0px 0px #9e7b4ea8;
    -moz-box-shadow: 0px 4px 0px 0px #9e7b4ea8;
    -webkit-box-shadow: 0px 4px 0px 0px #9e7b4ea8;
}
#aboutMe{
    box-shadow: 0px 4px 0px 0px #9e7b4ea8;
    -moz-box-shadow: 0px 4px 0px 0px #9e7b4ea8;
    -webkit-box-shadow: 0px 4px 0px 0px #9e7b4ea8;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact{
    height: 20px;
    width: 47px;
    background-color: #eab99d;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    border-style: ridge;
    box-shadow: 0px 4px 0px 0px #9e7b4ea8;
    -moz-box-shadow: 0px 4px 0px 0px #9e7b4ea8;
    -webkit-box-shadow: 0px 4px 0px 0px #9e7b4ea8;
}
#greypre-text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:grey;
}

.grid2x2 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .grid2x2 > div {
    display: flex; 
    flex-basis: calc(50% - 40px);  
    justify-content: center;
    flex-direction: column;
  }
  .grid2x2 > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  .box { margin: 20px; }
  .box1 { /*background-color: red;*/ }
  .box2 { /*background-color: orange;*/ }
  .box3 { /*background-color: purple;*/ }
  .box4 { /*background-color: grey;*/ }