body{
	font-family: Helvetica;
}
button{
	border: none;
	cursor: pointer;
	font-family: Helvetica;
	font-size: 20px;
}
a{
	text-decoration: none;
}
#header_bar{
	display: grid;
	width: 100%;
	grid-template-columns: 92.5% 7.5%;
}
#header_name{
	font-family: Lucida Console;
	font-size:50px;
	font-weight:500;
	padding-left: 20px;

}
#theme_text{
	border-radius: 20px;
	margin: 5px 5px;
}
#theme_text:hover{
	background-color: #a17ed9;
}
.navi{
	padding-left: 0px;
	display: flex;
	flex-direction: row;
}
.navi > div{
}
.navi > div > button{
	display: block;
	padding: 5px 20px;
}
#tab_1{
	background-color: #732222;
}
#tab_1:hover{
	background-color: #c45a5a;
}
#tab_2{
	background-color: #263191;
}
#tab_2:hover{
	background-color: #4c57c2;
}
#tab_3{
	background-color: #337982;
}
#tab_3:hover{
	background-color: #5bb1bd;
}
#tab_4{
	background-color: #1f692c;
}
#tab_4:hover{
	background-color: #46a356;
}
