body{
    margin: 0;
    background-color: #061830;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: absolute;
}
/* ------------------------------------------------- loading page ------------------------------------------ */
.loadingPage{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: green;
    display: none;
}

/* -------------------------------------------------  side nav bar -------------------------------------------*/

.sideNav{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 80px;
}

/* ---------------------- side nav Name --------------------- */

.sideNav_name{
    display: inline-block;
    width: 100%;
    height: 80px;
    font-size:12px;

    background-color: #00cceb;
}
.sideNav_name h1{
    font-family: 'Poppins', sans-serif;
    position: relative;
    margin: 0;
    left: 5px;
    top: 5px;
}

/* --------------------- side nav scroll bar ---------------- */

.scrollBar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 80px);
    user-select: none;
}

.pageSection{
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 100%;
}

.sectionItem{
    width: 100%;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    
    background-attachment: fixed;
    border-bottom: 1px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    position: relative;
    z-index: 4;
}
.sectionItem:hover{
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    overflow: visible;
    
    cursor: pointer;
}
.sectionItem img{
    margin: 0 auto;
    width: 80%;
    height: 35pt;
}
.selectedSectionItem{
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
}

.sectionItemText{
    position: absolute;
    width: auto;
    height: 50px;
    left: 80px;
    top: 50%;
    transform: translateY(-50%);
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    pointer-events: none;
}
.sectionPointer{
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    
    border-right:10px solid #57607A; 
    opacity: 0.7;
}
.sectionTextDiv{
    height: 100%;
    width: auto;
    background-color: #57607A;
    border-radius: 8px;
    opacity: 0.7;
}
.sectionTextDiv h1{
    height: inherit;
    margin: 10px 10px;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 20pt;
    color: #CCCCFF;
    white-space: nowrap;
}

.scrollSection{
    display: block;
    position: relative;
    width: 20px;
    height: 100%;
    padding: 0;
    overflow: hidden;
}

.slider{
    
    -webkit-appearance: none;
    position: relative;
    width: calc(100vh - 80px);
    height: 20px;
    margin: 0;
    transform-origin: 10px 10px;
    transform: rotate(-270deg);
    background-color: #464f58bb;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 0;
    /* width: 20px;
    height: 20px;
    border-radius: 50%;  */
    background: #d6d9de;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

/* ---------------------------------- main content ------------------------------ */

.mainContent{
    display: block;
    position: relative;
    height: 100%;
    width: calc(100% - 80px);
    overflow-y: scroll;
}
.mainContent::-webkit-scrollbar {
    display: none;
}

/* ---------------------------------- main sections ------------------------------- */

.sectionContainer{
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
}

/* --------------------- section One ---------------- */
#sectionOne{
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0;
}

.greetings{
    display: block;
    margin: auto;
    width: 60%;
    min-width: 350px;
    height: auto;
    text-align: left;
}
.greetings p{
    font-family: 'Poppins', sans-serif;
    font-size: min(2.7vw,30px);
    color: #f7fdff;
    font-weight: lighter;
    margin: 0;

}
.nameContainer{
    display: block;
    width: 100%;
    height: min(8vw,100px);
}
.myName{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: min(8vw,100px);
    width: fit-content;
    color: #00ffef;
    line-height: min(8vw, 100px);
    
    border-right: solid rgb(255, 255, 255);

    animation: blink-caret 1s step-end infinite;
}
@keyframes blink-caret {
    from, to { border-width: 0.1em;  }
    50% { border-width: 0;}
  }
.greetings h2{
    margin: 0;
    margin-top: 2vw;
    font-family: 'Poppins', sans-serif;
    font-size: min(3vw,25px);
    color: rgb(15, 139, 234);
}
#resumeLink{
    margin-top: 3vw;
    display: block;
    font-family: 'Poppins',sans-serif;
    width: fit-content;
    height: auto;
    font-size: min(4vw,35px);
    text-decoration: none;
    padding: 0 10px;
    border-radius:5px;
    color: #00d0ff;
    border: 2px solid rgb(5, 84, 201);
}
#resumeLink:hover{
    background-color:rgba(19, 167, 230,0.4);
}

/* --------------------- section Two ---------------- */


.aboutMe{
    display: flex;
    flex-direction: column;
    min-width: 350px;
    width: 60vw;
    margin: 5vw auto 13vw auto;
}

.sectionBanner{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: min(5vw,80px);
}
.sectionBanner div{
    flex-grow: 1;
    flex-basis: 1;
    height: 1px;
    background-color: rgb(167, 231, 18);
    margin: auto;
}
.sectionBanner h1{
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-size: min(6vw,50px);
    color: white;
    margin: auto;
    padding: 0 20px;
}

.myInfo{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
}

.myInfoText{
    min-width: 350px;
    flex-grow: 1;
    height: auto;
    display: block;
    padding: 0 2vw 0 0;
}
.myImgContainer{
    min-width: 20vw;
    min-height: 350px;
    height: auto;
    display: flex;
    align-items: center;
    align-content: center;
}

@media screen and (max-width:880px){
    .myInfo{
        flex-direction: column;
    }
    .myImg{
        min-height: 300px;
        min-width: 300px;
        height: 50vw !important;
        width: 50vw !important;
    }
}

.myInfoText h1{
    margin: 0;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: min(2.8vw,20px);
    line-height: min(3.5vw,32px);

    color: rgb(15, 139, 234);
}

.myImg{
    position: relative;
    width: 100%;
    height: 20vw;
    margin: auto;
}

/* --------------------- section Three ---------------- */

.mySkills{
    min-width: 350px;
    width: 60vw;
    height: auto;
    margin: 4vw auto 13vw auto;
}

.skillSection{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
}

.selectedSkill{
    width: 100%;
    height: 4vw;
    display: flex;
    flex-direction: row;
    background-color: #58E2C5;
    align-items: center;
}

.skillTitleCont{
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
    font-size: 2vw;
    overflow: hidden;
    align-items: center;
}

.skillTitleWrapper{
    width: 0;
    height: 100%;
    display: block;
    overflow: hidden;
    /* -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    opacity: 0.6;
    transition: opacity 0.3; */
}

.skillTitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6em;
    line-height: 1.6em;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

.selectedSkillTitle{
    width: 100%;
    opacity: 1;
}

.selectedSkill button{
    width: auto;
    height: inherit;
    font-size: 1.8em;
    font-family: 'Poppins',sans-serif;
    background-color: rgb(27, 127, 193);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0 0.5em;
}
.selectedSkill button:hover{
    background-color: rgb(6, 83, 171);
}

#skillPrev h1{
    margin: 0;
}
#skillNext h1{
    margin: 0;
}

.skillDisplay{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}
@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

.skillWrapper{
    width: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
/* 
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out; */

    /* background-color: red; */
    /* border: 1px solid red; */
}

.selectedSkillInfo{
    width: 100%;
}

.skillImages{
    width: 60vw;
    height: 14vw;
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 0;
    user-select: none;

    /* border: 1px solid red; */
}

.skillImgWrapper{
    height: 8vw;
    width: 8vw;
    position: relative;
    box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: visible;
	box-shadow: 0 5px 15px 0px rgba(22, 198, 228, 0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 0.6em;
    margin: 0 auto;
}
.skillImgWrapper:hover{
    background-color: rgba(31, 198, 139, 0.7);
}

.skillImgWrapper img{
    width: 2.6em;
    height: fit-content;
    margin: 0;
}
.skillImgWrapper:hover{
    animation: none;
}
.skillImgWrapper:hover > .skillImgText{
    display: flex;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(22, 198, 228, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(22, 198, 228, 0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(22, 198, 228, 0.6);
		transform: translatey(0px);
	}
}

.skillImgText{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-content: center;
    align-items: center;
    top: 4em;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    display: none;
    pointer-events: none;
}
.imgTextPointer{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #58E2C5;
}
.imgTextCont{
    margin: 0;
    width: fit-content;
    height: fit-content;
    font-size: 0.7em;
    background-color: #58E2C5;
    border-radius: 10px;
    padding: 0 0.6em;
    font-family: 'Poppins',sans-serif;
}

.skillDescr{
    width: 60vw;
    height: 300px;
    list-style: none;
}
.skillDescr li{
    font-family: 'Poppins',sans-serif;
    font-size: 1.5em;
    color: #343434;

}
.skillDescr li::before{
    content: "";
    border-color: transparent rgb(11, 194, 222);
    border-style: solid;
    border-width: 0.30em 0 0.30em 0.40em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1em;
    position: relative;
}

/* --------------------- section Four ---------------- */

.myProjects{
    display: flex;
    flex-direction: column;
    min-width: 350px;
    width: 60vw;
    height: auto;
    margin: 4vw auto 13vw auto;
}

.projectContainer{
    width: 100%;
    height: auto;
    display: block;
    font-size: 5vw;
    position: relative;
    margin-bottom: 8vw;
}

.projectImgCont{
    width: 38vw;
    height: 20vw;
    /* float: left; */
    position: relative;

    overflow: visible;
    color: #b81313;
    border-radius: 10px;
}

#projectOne{
    float: left;
    background: url(../Images/Projects/Project1.png) 0 0 no-repeat fixed;
    background-attachment: local;
    background-size: 100% 100%;
}
#projectOne > .projectTextCont{
    right: -22vw;
}
#projectTwo{
    float: right;
    background: url(../Images/Projects/Project3.png) 0 0 no-repeat fixed;
    background-attachment: local;
    background-size: 100% 100%;
}
#projectTwo > .projectTextCont{
    left: -22vw;
}
#projectThree{
    float: left;
    background: url(../Images/Projects/Project2.png) 0 0 no-repeat fixed;
    background-attachment: local;
    background-size: 100% 100%;
}
#projectThree > .projectTextCont{
    right: -22vw;
}

.projectTextCont{
    width: 22vw;
    height: 20vw;
    position: absolute;
    /* right: -22vw; */
    font-size: 1.8vw;
    display: block;
}

.projectTitle{
    width: 100%;
    height: fit-content;
    font-size: 1em;
    font-family: 'Poppins',sans-serif;
    margin: 2em 0 0.5em 0;
    /* text-align: right; */
}

.projectDescr{
    width: 25vw;
    height: 7vw;
    /* float: right; */
    margin: 0;
    border-radius: 10px;
    font-family: 'Poppins',sans-serif;
    font-size: 0.5em;
    padding: 0.5vw;

    background-color: rgb(23, 51, 113);
}

.projectLanguages{
    margin-top: 1vw;
    width: auto;
    height: auto;
    /* float: right; */
    display: flex;
    flex-direction: row;
}
.projectLanguages h1{
    font-size: 0.8vw;
    font-family: 'Poppins',sans-serif;
    font-weight: lighter;
    margin: 0 0.6vw;
    white-space: nowrap;
    padding: 0;
}

/* --------------------- section Five ---------------- */

.myEducation{
    display: flex;
    flex-direction: column;
    min-width: 350px;
    width: 60vw;
    height: auto;
    margin: 4vw auto 13vw auto;
}

.educationWrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 4vw;
}

.collegeLogo{
    width: 24vw;
    height: fit-content;
}
.collegeInfo{
    flex-grow: 1;
    height: auto;
    font-size: 1vw;
}
.honors{
    width: 100%;
    height: fit-content;
    line-height: 1em;
    font-family: 'Poppins',sans-serif;
    color: rgb(36, 203, 206);
    text-align: center;
    margin: 0 0 0.5em 0;
    /* text-decoration: underline red; */
}

.honorsList{
    width: 30em;
    height: auto;
    list-style: none;
    float: right;
}
.honorsList li{
    font-family: 'Poppins',sans-serif;
    font-size: 1.5em;
    color: #635757;
}
.honorsList li::before{
    content: "";
    border-color: transparent rgb(11, 194, 222);
    border-style: solid;
    border-width: 0.30em 0 0.30em 0.40em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1em;
    position: relative;
}

.collegeCourseWork{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

}

.pursuingDegree{
    width: 100%;
    height: fit-content;
    font-size: 2.8vw;
    font-family: 'Poppins',sans-serif;
    text-align: center;
    color: #1798D1;
}

.collegeWorkWrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    margin: 2vw auto;
}

.collegeWorkCont{
    width: 100%;
    height: auto;
    display: block;
    font-size: 3vw;
    background-color: #112240;
    border-radius: 20px;
    padding: 1vw 0;
    margin-bottom: 0.25vw;
}

.workTitle{
    width: 100%;
    height: fit-content;
    font-family: 'Poppins',sans-serif;
    font-size: 2vw;
    margin: 0;
    margin-left: 1vw;
}

.workDetails{
    display: block;
    width: 100%;
    height: auto;
    list-style: none;
    margin: 0;
    font-size: 1vw;
}
.workDetails li{
    font-family: 'Poppins',sans-serif;
    font-size: 1.5em;
    color: #635757;
    margin-left: 1vw;
}
.workDetails li::before{
    content: "";
    border-color: transparent rgb(11, 194, 222);
    border-style: solid;
    border-width: 0.30em 0 0.30em 0.40em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1em;
    position: relative;
}

.courseWork{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "first" "second" "third" "fourth" "fifth"
    "sixth" "seventh" "eighth" "nineth" "tenth";
}
.courseWork h1{
    width: fit-content;
    height: fit-content;
    font-family: 'Poppins',sans-serif;
    font-size: 0.9vw;
    margin: 0;
    text-align: center;
    font-weight: lighter;
    margin: 0.3vw auto;
    color: red;
}

/* --------------------- section Six ---------------- */

#sectionSix{
    height: 49vw;
}

.contactMe{
    display: flex;
    flex-direction: column;
    min-width: 350px;
    width: 60vw;
    height: auto;
    margin: auto;
    border: 1px solid green;
}

.goodbyeText{
    font-family: 'Poppins',sans-serif;
    font-size: 1.7vw;
    margin: 0;
    text-align: center;
    color: rgb(65, 193, 112);
}

/* ---------- Creator's Note ----------- */

.creatorNote{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    text-align: center;
}
.creatorNote h1{
    font-family: 'Poppins',sans-serif;
    font-size: 1.5vw;
    color: wheat;
}