@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body{
    background-color:#caf7e3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} 
/* Navigation */
.container{
    width: 80%;
    margin: auto;
}

header{
    background: #55d6aa;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    
}

nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;

}

nav a:hover{
    color: #2C2891;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: #2C2891;
    position: absolute;
    top: 0px;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

/* * Contact */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;

}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width:  350px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgb(77, 201, 190);
}

.wrapper h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #332902;
}

.wrapper .input_field{
    margin-bottom: 10px;
}

.wrapper .input_field input[type = "text"],
.wrapper textarea{
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.wrapper textarea{
    height: 80px;
    resize: none;
}

.wrapper .btn input[type="submit"]{
    border: 0;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #fece0c;
    color: #332902;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}

.wrapper #error_message{
    margin-bottom: 20px;
    padding: 0px;
    background: #fe8b8e;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}
/* footer */
.footer{
    background: fill;
    background-color: #55d6aa;
    color: #444;
    text-align: center;
    padding: 0cm 0 0.1cm;
    font-size: x-large;

    margin-top: auto;
}
.footer p{
    margin-top: 0;
    margin-bottom: 0.5cm;
    color: rgb(87, 86, 86);
}
.footer a{
    color: inherit;
    text-decoration: none;
}

.footer__link{
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover{
    opacity: .7;
}

.footer__link:hover{
    text-decoration: underline;
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 0 0;
    padding: 0;
}

.social-list__item{
    margin: 0.5cm;
}